.DS_Store
man/
/.bin/
/bin/
.config/bin/
.config/dotfiles/
*.swp
*.pyc
tests/
_local.zsh
.device_uid
plugins/.cache
.config/local.tmux
var/log/sofmani
.config/tmux_local.yml
/_plugins/.cache
/.config/direnv/lib
