<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.casraf.hebflip</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>077E1BE2-CA93-4F8B-9564-DC9CCFDACC60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85B7F9A2-9EE2-4B60-99D7-131F8937EC99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>109B59F0-6256-4E7D-A5E8-EA2A14EAD771</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78273A8C-8846-4074-B3A3-7DEB09AA83E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>264B96B1-A47C-491E-972F-53804A38DC68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3695395D-88FA-4847-82DF-108EB654FBF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3695395D-88FA-4847-82DF-108EB654FBF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7482EBE2-FF2B-4BA5-ADF5-4EBB4DA91A51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58DD496E-CAE5-41B7-824B-CF66B4471916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80259FED-3596-44D8-9895-609284FAC0F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EAA025A-A267-432E-9089-0608B2CBE4D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE855189-B739-4E1D-8C2A-C1E474929C75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7482EBE2-FF2B-4BA5-ADF5-4EBB4DA91A51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23A8633E-D968-4643-91AE-DFCF1EDECD6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80259FED-3596-44D8-9895-609284FAC0F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>109B59F0-6256-4E7D-A5E8-EA2A14EAD771</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85B31B09-7486-435A-A0A7-2A83BEE74B85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58DD496E-CAE5-41B7-824B-CF66B4471916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85B7F9A2-9EE2-4B60-99D7-131F8937EC99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7482EBE2-FF2B-4BA5-ADF5-4EBB4DA91A51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE855189-B739-4E1D-8C2A-C1E474929C75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80259FED-3596-44D8-9895-609284FAC0F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chen Asraf</string>
	<key>description</key>
	<string>Flip Hebrew and english letters in selected text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hebrew Flip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>077E1BE2-CA93-4F8B-9564-DC9CCFDACC60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>heb {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>85B7F9A2-9EE2-4B60-99D7-131F8937EC99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./heb_flip.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7482EBE2-FF2B-4BA5-ADF5-4EBB4DA91A51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>23A8633E-D968-4643-91AE-DFCF1EDECD6D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>264B96B1-A47C-491E-972F-53804A38DC68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>eng {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3695395D-88FA-4847-82DF-108EB654FBF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>heb</string>
				<key>subtext</key>
				<string>Flip '{query}' to Hebrew</string>
				<key>text</key>
				<string>Flip To Hebrew</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85B31B09-7486-435A-A0A7-2A83BEE74B85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>heb {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>58DD496E-CAE5-41B7-824B-CF66B4471916</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>109B59F0-6256-4E7D-A5E8-EA2A14EAD771</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./heb_flip.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80259FED-3596-44D8-9895-609284FAC0F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied translation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>78273A8C-8846-4074-B3A3-7DEB09AA83E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>eng</string>
				<key>subtext</key>
				<string>Flip '{query}' to English</string>
				<key>text</key>
				<string>Flip To English</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EAA025A-A267-432E-9089-0608B2CBE4D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>eng {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DE855189-B739-4E1D-8C2A-C1E474929C75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>077E1BE2-CA93-4F8B-9564-DC9CCFDACC60</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>109B59F0-6256-4E7D-A5E8-EA2A14EAD771</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>23A8633E-D968-4643-91AE-DFCF1EDECD6D</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>264B96B1-A47C-491E-972F-53804A38DC68</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>3695395D-88FA-4847-82DF-108EB654FBF1</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>58DD496E-CAE5-41B7-824B-CF66B4471916</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>5EAA025A-A267-432E-9089-0608B2CBE4D3</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>7482EBE2-FF2B-4BA5-ADF5-4EBB4DA91A51</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>78273A8C-8846-4074-B3A3-7DEB09AA83E4</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>80259FED-3596-44D8-9895-609284FAC0F9</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>85B31B09-7486-435A-A0A7-2A83BEE74B85</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>85B7F9A2-9EE2-4B60-99D7-131F8937EC99</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>DE855189-B739-4E1D-8C2A-C1E474929C75</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://casraf.blog</string>
</dict>
</plist>
