<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>add_note_keyword</key>
	<string>n+</string>
	<key>notes_dir</key>
	<string>~/notes</string>
	<key>view_notes_keyword</key>
	<string>nl</string>
</dict>
</plist>
