<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.casraf.planckproj</string>
	<key>category</key>
	<string>Developer</string>
	<key>connections</key>
	<dict>
		<key>84D57ED7-762D-448D-955C-BFA624773CD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46BCCD4-D93C-4BC2-9FE6-061C83306607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chen Asraf</string>
	<key>description</key>
	<string>Open Planck Projects on GitLab by searching</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitLab Planck Projects</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>query=$1
hash=$(echo $query | md5 -q)

if [[ ! -d ".cache" ]]; then
  mkdir .cache
fi

fl=".cache/projects-$hash.json"

if [[ ! -f $fl ]]; then
  url="https://gitlab.com/api/v4/groups/planckdata/projects?private_token=$TOKEN&amp;include_subgroups=true&amp;per_page=20&amp;search=$query"
  curl $url &gt; $fl
fi

./jq 'map({title: ["Open Project: ",.path] | join(""), subtitle: .path_with_namespace, arg:.web_url}) | {items:.}' $fl</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Planck Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84D57ED7-762D-448D-955C-BFA624773CD0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E46BCCD4-D93C-4BC2-9FE6-061C83306607</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>37095F59-E46C-4BB6-A6C9-5545F50E5F82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># GitLab Planck Projects

## How to use

Type 'pl' and then the name of a project (2 chars min).

Confirm a result to open it on your default browser.

## Requirements

Needs a [GitLab personal access token](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html) to work</string>
	<key>uidata</key>
	<dict>
		<key>37095F59-E46C-4BB6-A6C9-5545F50E5F82</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>84D57ED7-762D-448D-955C-BFA624773CD0</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E46BCCD4-D93C-4BC2-9FE6-061C83306607</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Personal Access Token</string>
			<key>label</key>
			<string>GitLab Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TOKEN</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://casraf.dev</string>
</dict>
</plist>
